<footer class="main-footer ">
	<div class="container">
		<div class="footer-content">
			<div class="footer-menu">
				<ul>
					<li><a href="{{ site.theme.link }}/moszaim/page-services.html">Займ под залог ПТС</a></li>
					<li><a href="{{ site.theme.link }}/moszaim/page-services.html">Автоломбард классический</a></li>
					<li><a href="{{ site.theme.link }}/moszaim/page-services.html">Займ под залог недвижимости</a></li>
					<li><a href="{{ site.theme.link }}/moszaim/page-services.html">Рефинансирование, перезалог</a></li>
				</ul>
				<ul>
					<li><a href="">Расчет займа</a></li>
					<li><a href="{{ site.theme.link }}/moszaim/page-about.html">О нас</a></li>
					<li><a href="{{ site.theme.link }}/moszaim/page-contacts.html">Контакты</a></li>
				</ul>
			</div>
			<div class="footer-info">
				<div class="footer-logo"><a href="{{ site.theme.link }}/moszaim/home.html"><img src="./assets/images/logo2.svg" alt=""></a></div>
				<div class="footer-phone"><a href="tel:8 800 000 00 00">8 800 000 00 00</a></div>
				<div class="footer-callback"><a href="">Обратный звонок</a></div>
			</div>
			<hr class="footer-border">
		</div>
		<div class="under-footer">
                     <div class="copyright">2020</div>
			<div class="under-footer-link"><a href="">Политика конфиденциальности</a></div>
			<div class="is-art"><a href="">Разработано <img src="./assets/images/is-art.svg" alt=""></a></div>	
		</div>
	</div>
	<div id="overlay"></div>
<div class="alModal js_modal-6 city_popup_wrp">
        <span class="alModalClose js_alModalClose"></span>
        <div class="alModalContent alModalContent--modal" style="padding: 0;">
    <div class="popup_title_wrp"><div class="text18 b">Выберите Ваш город:</div></div>
    <div class="cities_list_wrp">
        <ul class="cities_list">
                            <li><div class="city_name_wrp"><span class="text">Абакан</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Альметьевск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ангарск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Арзамас</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Армавир</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Артём</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Архангельск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Астрахань</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ачинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Балаково</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Балашиха</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Барнаул</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Батайск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Белгород</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Бердск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Березники</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Бийск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Благовещенск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Братск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Бронницы</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Брянск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Бугульма</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Великие Луки</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Великий Новгород</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Верея</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Видное</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Владивосток</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Владикавказ</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Владимир</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Власиха</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Волгоград</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Волгодонск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Волжский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Вологда</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Волоколамск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Воронеж</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Воскресенск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Воткинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Высоковск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Гатчина</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Глазов</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Грозный</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Губкин</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Дедовск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Дербент</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Дзержинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Дзержинский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Димитровград</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Дмитров</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Долгопрудный</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Домодедово</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Дрезна</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Дубна</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Евпатория</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Егорьевск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ейск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Екатеринбург</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Елец</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ессентуки</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Железногорск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Железнодорожный</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Жуковский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Зеленодольск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Златоуст</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Иваново</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ивантеевка</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ижевск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Измайлово</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Иркутск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Йошкар-Ола</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Казань</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Калининград</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Калуга</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Каменск-Уральский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Каменск-Шахтинский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Камышин</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Канск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Каспийск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кашира</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кемерово</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Керчь</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кинешма</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Киржач</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Киров</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Киселёвск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кисловодск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Климовск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ковров</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Коломна</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Комсомольск-на-Амуре</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Копейск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Королев</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кострома</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Котельники</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Красноармейск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Краснодар</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Красноярск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кузнецк</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кузьминки</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Курган</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Куровское</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Курск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Курск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Кызыл</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ленинск-Кузнецкий</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ликино-Дулево</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Липецк</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Лобня</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Лосино-Петровский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Лыткарино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Лыткарино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Львовск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Люберцы</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Люберцы</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Люблино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Магадан</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Магнитогорск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Майкоп</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Марьино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Махачкала</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Междуреченск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Миасс</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Мичуринск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Можайск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Москва</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Москва Перово</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Мурманск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Муром</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Мытищи</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Мытищи</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Набережные Челны</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Назрань</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Нальчик</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Наро-Фоминск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Находка</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Невинномысск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Нефтекамск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Нефтеюганск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Нижневартовск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Нижнекамск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Нижний Новгород</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Нижний Тагил</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новогиреево</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новокузнецк</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новокуйбышевск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новомосковск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новороссийск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новосибирск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новотроицк</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новоуральск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новочебоксарск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новочеркасск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новошахтинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Новый Уренгой</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ногинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ногинский район</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Норильск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ноябрьск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Обнинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Одинцово</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Озёры</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Октябрьский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Омск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Орёл</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Оренбург</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Орехово-Зуево</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Орехово-Зуевский район</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Орск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Павлово Посадский район</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Павловский Посад</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Павловский-Посад</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Пенза</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Первоуральск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Пересвет</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Пермь</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Петрозаводск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Петропавловск-Камчатский</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Петушки</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Подольск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Покров</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Прокопьевск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Протвино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Псков</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Пушкино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Пущино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Пятигорск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Раменское</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Реутов</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ростов-на-Дону</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Рошаль</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Рубцовск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Руза</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Рыбинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Рязань</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Салават</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Самара</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Санкт-Петербург</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Саранск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Сарапул</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Саратов</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Севастополь</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Северодвинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Северск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Сергиев Посад</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Сергиев-Посад</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Серов</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Серпухов</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Симферополь</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Смоленск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Соликамск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Солнечногорск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Сочи</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ставрополь</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Старая Купавна</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Старый Оскол</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Стерлитамак</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ступино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Сургут</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Сызрань</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Сыктывкар</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Таганрог</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Талдом</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Тамбов</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Тверь</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Тобольск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Тольятти</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Томск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Тула</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Тюмень</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Улан-Удэ</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ульяновск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Уссурийск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Усть-Илимск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Уфа</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ухта</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Фрязино</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Хабаровск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Хасавюрт</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Химки</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Хотьково</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Чебоксары</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Челябинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Череповец</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Черкесск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Черноголовка</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Чехов</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Чита</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Шатура</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Шахты</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Щёлково</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Щербинка</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Электрогорск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Электросталь</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Электроугли</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Элиста</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Энгельс</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Южно-Сахалинск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Якутск</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Ярославль</span></div></li>
                            <li><div class="city_name_wrp"><span class="text">Яхрома</span></div></li>
                    </ul>
    </div>
</div>
</div>
</footer>



<script src="./assets/js/vendors/jquery-3.5.1.min.js"></script>
<script src="./assets/js/vendors/jquery.inputmask.js"></script>
<script src="./assets/js/vendors/jquery.cookies.js"></script>
<script src="./assets/js/vendors/nouislider.js"></script>
<script src="./assets/js/vendors/calculator.js"></script>
<script src="./assets/js/vendors/slick.min.js"></script>
<script src="./assets/js/main.bundle.js"></script>
<script type="text/javascript">
    function showModal(modalName) {
        $('#overlay').fadeIn(500,
            function() {
                var ModalLeft = ($(window).width() - $(modalName).outerWidth()) / 2;
                var ModalTop = (window.innerHeight - $(modalName).outerHeight()) / 2;
                $(modalName).removeAttr('css');
                if (ModalTop <= 50) {
                    ModalTop = 20;

                }
                setTimeout(function() {
                    $(modalName)
                        .css('display', 'block')
                        .animate({
                            opacity: 1,
                            left: ModalLeft + 'px',
                            top: ModalTop + 'px'
                        }, 300);
                }, 50)
            });
    }
    jQuery(document).ready(function($) {
        var ModalTop;



        $(window).resize(function(event) {
            if ($('.alModal').is(':visible')) showModal('.alModal:visible');
        });


        $(document).on('click', '.js_alModal', function() {
            event.preventDefault();
            var modalClass = '.' + $(this).attr('data-modal');
            showModal(modalClass);
        });

        $('.js_alModalClose, #overlay').click(function() {
            $('.alModal').animate({
                    opacity: 0
                }, 200,
                function() {
                    $(this).css({
                        'display': 'none',
                        'top': '100%',
                        'left': '50%'
                    });
                    $('#overlay').fadeOut(400);
                }
            );
        });

        $('#alxModalForm1').submit(function() {
            if (document.forms.alxModalForm1.checkValidity()) {
                var thisModal = $(this).parents('.alModal');
                form = $('#alxModalForm1').serialize();
                $.ajax({
                    type: "POST",
                    url: "<? echo get_site_url(); ?>/obr.php",
                    data: form,
                    success: function(msg) {
                        thisModal.animate({
                                opacity: 0
                            }, 200,
                            function() {
                                $(this).css({
                                    'display': 'none',
                                    'top': '100%',
                                    'left': '50%'
                                });
                            }
                        );
                        thisModal.find('.alModalInput').val('');
                        thisModal.find('textarea').val('');
                        showModal('.alModalThank');
                        $.magnificPopup.close();
                    }
                });
            }
        });
        $('#alxModalForm2').submit(function() {
            if (document.forms.alxModalForm2.checkValidity()) {
                var thisModal = $(this).parents('.alModal');
                form = $('#alxModalForm2').serialize();
                $.ajax({
                    type: "POST",
                    url: "<? echo get_site_url(); ?>/obr.php",
                    data: form,
                    success: function(msg) {
                        thisModal.animate({
                                opacity: 0
                            }, 200,
                            function() {
                                $(this).css({
                                    'display': 'none',
                                    'top': '100%',
                                    'left': '50%'
                                });
                            }
                        );
                        thisModal.find('.alModalInput').val('');
                        thisModal.find('textarea').val('');
                        showModal('.alModalThank');
                        $.magnificPopup.close(); // закрывает модалку магнифик
                    }
                });
            }
        });
        $('#alxModalForm3').submit(function() {
            if (document.forms.alxModalForm3.checkValidity()) {
                var thisModal = $(this).parents('.alModal');
                form = $('#alxModalForm3').serialize();
                $.ajax({
                    type: "POST",
                    url: "<? echo get_site_url(); ?>/obr.php",
                    data: form,
                    success: function(msg) {
                        thisModal.animate({
                                opacity: 0
                            }, 200,
                            function() {
                                $(this).css({
                                    'display': 'none',
                                    'top': '100%',
                                    'left': '50%'
                                });
                            }
                        );
                        thisModal.find('.alModalInput').val('');
                        thisModal.find('textarea').val('');
                        showModal('.alModalThank');
                        $.magnificPopup.close(); // закрывает модалку магнифик
                    }
                });
            }
        });
                $('#alxModalForm4').submit(function() {
            if (document.forms.alxModalForm4.checkValidity()) {
                var thisModal = $(this).parents('.alModal');
                form = $('#alxModalForm4').serialize();
                $.ajax({
                    type: "POST",
                    url: "<? echo get_site_url(); ?>/obr.php",
                    data: form,
                    success: function(msg) {
                        thisModal.animate({
                                opacity: 0
                            }, 200,
                            function() {
                                $(this).css({
                                    'display': 'none',
                                    'top': '100%',
                                    'left': '50%'
                                });
                            }
                        );
                        thisModal.find('.alModalInput').val('');
                        thisModal.find('textarea').val('');
                        showModal('.alModalThank');
                        $.magnificPopup.close(); // закрывает модалку магнифик
                    }
                });
            }
        });
                $('#alxModalForm5').submit(function() {
            if (document.forms.alxModalForm5.checkValidity()) {
                var thisModal = $(this).parents('.alModal');
                form = $('#alxModalForm5').serialize();
                $.ajax({
                    type: "POST",
                    url: "<? echo get_site_url(); ?>/obr.php",
                    data: form,
                    success: function(msg) {
                        thisModal.animate({
                                opacity: 0
                            }, 200,
                            function() {
                                $(this).css({
                                    'display': 'none',
                                    'top': '100%',
                                    'left': '50%'
                                });
                            }
                        );
                        thisModal.find('.alModalInput').val('');
                        thisModal.find('textarea').val('');
                        showModal('.alModalThank');
                        $.magnificPopup.close(); // закрывает модалку магнифик
                    }
                });
            }
        });
    });
</script>
</body>

</html>