<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="./assets/css/noUIslider.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="main-header">
     	<div class="container">
     		<div class="main-header-top">
     			<div class="user-city">
     				<div class="choice-city-text">Ваш город:</div>
                    <div class="location_change_btn choice-city-button"><a class="js_alModal" data-modal="js_modal-6" href=""><span>Москва</span></a></div>
     			</div>
     			<div class="main-header-logo"><a href="{{ site.theme.link }}/moszaim/home.html"><img src="./assets/images/logo.svg" alt=""></a></div>
     			<div class="main-header-info">
     				<div class="main-header-phone"><a href="tel:8 800 000 00 00">8 800 000 00 00</a></div>
     				<div class="main-header-callback"><a href="">Обратный звонок</a></div>
     			</div>
     		</div>
     		<div class="main-header-bottom">
     			<div class="main-header-menu">
     				<ul>
     					<li>
                            <a href="{{ site.theme.link }}/moszaim/page-services.html">Займ под залог ПТС</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ site.theme.link }}/moszaim/page-services.html">Легкового автомобиля</a>
                                    
                                        <img class="image-animations" src="./assets/images/car1.png" alt="">
                                    
                                </li>
                                <li>
                                    <a href="{{ site.theme.link }}/moszaim/page-services.html">Грузового автомобиля</a>
                                    
                                        <img class="image-animations" src="./assets/images/car2.png" alt="">
                                    
                                </li>
                                <li>
                                    <a href="{{ site.theme.link }}/moszaim/page-services.html">Спецтехники</a>
                                    
                                        <img class="image-animations" src="./assets/images/car3.png" alt="">
                                    
                                </li>
                                <li>
                                    <a href="{{ site.theme.link }}/moszaim/page-services.html">Мотоцикла</a>
                                    
                                        <img class="image-animations" src="./assets/images/car4.png" alt="">
                                    
                                </li>
                            </ul>
                        </li>
     					<li><a href="{{ site.theme.link }}/moszaim/page-services.html">Автоломбард классический</a></li>
     					<li><a href="{{ site.theme.link }}/moszaim/page-services.html">Займ под залог недвижимости</a></li>
     					<li><a href="{{ site.theme.link }}/moszaim/page-services.html">Рефинансирование, перезалог</a></li>
     				</ul>
     			</div>
     			<a href="" class="main-header-calculation">Расчет займа %</a>
     		</div>
     	</div>
    </header>